<div class='container'>
    <div class='panel panel-success'>
        <div class='panel-heading'>
            <h3>Transaction Complete!</h3>
        </div>
        <div class='panel-body'>
            <p>Thank you for your payment of $<%= @payment_info.amount %>.  For your records we have mailed a detailed receipt to your email address: <%= @policy.email %></p>
        </div>
    </div>
</div>
