    <% content_for :title, "New Policy" %>

    <h1>New  Policy</h1>

    <%= form_for @policy, :url=>account_policies_path do |f| %>
            <% render :partial=>'form', :object=>f %>
    <% end %>
