<div class="jumbotron">
    <div class="container">
        <h1>Company Name</h1>
        <p>This is where we put a quick blurb about the what and why of the product.</p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>What</h2>
      <p>What we do.....</p>
      <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
  </div>
    <div class="col-md-4">
      <h2>Why</h2>
      <p>Why you should use this product....</p>
      <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
      <h2>Success</h2>
      <p>What others are saying about using this product...</p>
      <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
  </div>
</div>
</div>
