<% if model.errors.any? %>
<div clas="row">
      <div id="error_explanation" class='alert alert-danger'>
        <strong>Oh Snap! </strong> Change some things up and submit again.</h2>
        <ul>
        <% model.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
</div>
<% end %>
