<% content_for :title, "Profile" %>
<div class="container">
<%= form_for @agent , :class=>'form-horizontal', :url=>account_path do |f| %>
    <% render :partial => 'form', :object=>f  %>
<% end %>
</div>

