<% content_for :title, "Agent Registration" %>
<div class="container">
    <div class="page-header">
        <h1>Agent Registration</h1>
    </div>
</div>

<div class="container">
<%= form_for @agent , :class=>'form-horizontal', :url=>account_path do |f| %>
    <%= render :partial => 'form' ,  :object=>f %>
<% end %>
</div>
