<div class="container">
<%= render :partial=>'vehicles_mini', :locals=>{:form=>form} %>
<%= form.submit 'Submit', :class=>'btn btn-primary' %>
<%= link_to 'Cancel', :back, :class=>'btn btn-primary', :confirm=>"Are you sure?" %>
</div>

