
<div class="row">
<%if @policy.vehicles.count > 0 %>
<table class="table">
    <tr>
        <th>Vin</th>
        <th>Make</th>
        <th>Model</th>
        <th>Deductible</th>
        <th>Coverage</th>
    </tr>
    <% @policy.vehicles.each do |v| %>
    <tr>
        <td><%= link_to v.vin, account_policy_vehicle_path(v.policy_id, v.id) %></td>
        <td><%= v.make %></td>
        <td><%= v.model %></td>
        <td><%= v.deductible %></td>
        <td> Pending </td>
    </tr>
    <% end %>
</table>
<% else %>
<p>The policy does not have any vehicles covered at this time.</p>
<% end %>
</div>
