<% content_for :title, 'Edit Vehicle' %>
<div class="container">
    <div class="page-header">
        <h1>Edit Vehicle</h1>
    </div>
</div>


<%= form_for @vehicle , :url=>account_policy_vehicle_path do |f| %>
<div class="container">
    <%= show_errors(@vehicle) %>
    <%= render :partial=>'form' , :object=>f %>
<% end %>
