<% content_for :title, 'Edit Vehicle' %>
<div class="container">
    <div class="page-header">
        <h1>Edit Vehicle</h1>
    </div>
</div>


<%= form_for @vehicle , :url=>account_policy_vehicle_path do |f| %>
<div class="container">
    <div class="row">
        <% if @vehicle.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
                <% @vehicle.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
    </div>
</div>
    <%= render :partial=>'form' , :object=>f %>
<% end %>
