<% content_for :title=>"Vehicle" %>

<div class="container">
    <div class='panel panel-success'>
        <div class='panel-heading'>
            <h3>Vehicle Information
                <%= link_to "Edit", edit_account_policy_vehicle_path(@vehicle.policy_id, @vehicle.id) , :class=>"btn btn-link" %>
                <%= link_to "Policy", account_policy_path(@vehicle.policy_id), :class=>"btn btn-link"%>
            </h3>
        </div>
        <div class='panel-body'>
            <%= render :partial=>'vehicle_view', :locals=>{:v=>@vehicle} %>
        </div>
    </div>
</div>
