<% content_for :title=>"Vehicle" %>

<div class="container">
    <div class="page-header">
        <h1>Vehicle
        <%= link_to "Edit", edit_account_policy_vehicle_path(@vehicle.policy_id, @vehicle.id) , :class=>"btn btn-link" %>
        <%= link_to "Policy", account_policy_path(@vehicle.policy_id), :class=>"btn btn-link"%>
        <%= link_to "Billing History",account_policy_vehicle_paypal_transactions_path(@vehicle.policy_id, @vehicle.id), :class=>"btn btn-link" %>
    </h1>
    </div>
</div>

<div class="container">
<% if !@vehicle.covered %>
    <div class="row">
        <div class="span12 alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Warning!</strong> Vehicle deductible isn't currently covered.
        </div>
    </div>
<% end %>
</div>

<%= render :partial=>'vehicle_view', :locals=>{:v=>@vehicle} %>
